<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken</a>. Two web developers who are on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    Together they taught hundreds of students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High School.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Megan Faley</h2>
      <br />
      <p>
        Megan Faley is currently an Account Manager, working on becoming a full stack web developer with the hopes of being able to move up in her company. She currently works at a small start-up called <a target="_blank" href="https://geneticdirection.com/")>Genetic Direction</a>. While Megan is not working, or learning coding, she enjoys going on hikes, playing with her dog, drinking wine, and playing sports (<a target="_blank" href="https://lonestarssc.com/">LoneStar SSC</a>).
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'odin.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mr. Odin</h2>
      <br />
      <p>
        Mr. Odin is a 4 year old, German Shepard/Rottweiler mix. He was adopted a year ago from <a target="_blank" href="https://dallascityhall.com/departments/dallas-animal-services/Pages/default.aspx">Dallas Animal Services</a>. Odin enjoys going to the dog park, swimming,eating, going on adventures, and cuddling with his mom and dad.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />